<div id="homepage">
  <div class="jumbotron">
		<div class="container">
			<h1>Browse better.</h1>
			<p><a href="#" class="btn btn-primary btn-lg">Install the Extension</a></p>
		</div>
	</div>
  <div class="row">
    <div class="col_md_6">

    </div>
    <div class="col_md_6">
    </div>
  </div>


</div>
