<div id="homepage">
  <div class="jumbotron">
		<div class="container">
			<h1>Browse better.</h1>
			<p><a href="https://github.com/earllee/nodr-x" class="btn btn-primary btn-lg">Install the Extension</a></p>
		</div>
	</div>
  <div id="cards" class="row">
    <div class="col-md-6">
		<div class="card">
			<div class="title">
				What is Nodr?
			</div>
			<div class="description">
				Nodr is an application that...
				<br />
				<ul>
					<li>Manages and parses browsing history into interactive graphs</li>
					<li>Provides personalized site recommendations</li>
					<li>Crowdsources web-crawling to form more intelligent
 connections between websites</li>
				</ul>
			</div>
		</div>
    </div>
    <div class="col-md-6">
    	<div class="card">
			<div class="title">
				How do I use Nodr?
			</div>
			<div class="description">
				Just follow these simple steps...
				<br />
				<ol>
					<li>Download and install the extension <a href="https://github.com/earllee/nodr-x">here</a></li>
					<li>Click Record to begin</li>
					<li>Browse normally and click the Nodr for website recommendations</li>
					<li>Click Stop when finished browsing</li>
					<li>Visit <a href="http://nodr.me">nodr.me</a> to review your sessions in graphical form</li>
				</ol>
			</div>
		</div>
    </div>
  </div>
</div>
