<div id="homepage">
  <div class="jumbotron">
		<div class="container">
			<h1>Browse better.</h1>
			<p><a href="#" class="btn btn-primary btn-lg">Install the Extension</a></p>
		</div>
	</div>
  <div id="cards" class="row">
    <div class="col-md-6">
		<div class="card">
			<div class="title">
				What is Nodr?
			</div>
			<div class="description">
			</div>
		</div>
    </div>
    <div class="col-md-6">
    	<div class="card">
			<div class="title">
				How do I use Nodr?
			</div>
			<div class="description">
			</div>
		</div>
    </div>
  </div>


</div>
