p {
	font-size: 72px;
	text-align: center;
	margin-top: 2em;
}

#sig {
	position: relative;
	top: 3em;
	left: 10%;
	width: 80%;
	height: 40em;
	background: #212221;
	border-radius: 0.5em;
}