<div id="sessions-bar">
  <div id="sessions">
    <% if current_user %>
      <%= image_tag(current_user.avatar, size: "40x40", alt: "Avatar") %>
      <p><%= current_user.first_name + " " + current_user.last_name %></p>
      <%= link_to image_tag("skull.png", size: "40x40", alt: "Sign out"), signout_path, id: "sign_out" %>
    <% else %>
      <%= link_to image_tag("facebook.png", size: "40x40", alt: "Sign in"), "/auth/facebook", id: "sign_in" %>
    <% end %>
  </div>
</div>
			