<div class="wrapper">
  <div id="sig"></div>
  
  <div class="facebook">
    <div class="user_fb fb_login">
      <%= link_to "Connect with Facebook", "/auth/facebook", id: "sign_in" %>
    </div>
  </div>
</div>