#sessions-bar {
	width: 100%;
	color: white;
	background: $bgdark;
	height: 50px;
}

#sessions {
	float: right;
	margin-right: 20px;
	img {
		margin: 5px;
	}
	p {
		font-size: 16px;
		display: inline-block;
		margin: 5px;
		position: relative;
		top: -18px;
	}
}