<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1>Your Graphs</h1>
    </br>
    <% if !@graphs.empty? %>
        <% @graphs.each do |graph| %>
          <div class="card">
            <div class="title">
              <div class="name"><%= link_to graph.name, graph %></div>
              <div class="count"><span><%= "#{graph.nodes.count} nodes" %></span></div>
            </div>
            <div class="description"><%= graph.description %></div>
          </div>
        <% end %>
    <% else %>
      <div class="message">You haven't completed any graphs yet</div>
    <% end %>
  </div>
</div>
