body { 
  background: #222222; 
  color: #999999;
  padding-top: 70px; 
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: white;
  font-family: 'Open Sans', sans-serif;
}

.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #222222;
}

.navbar-brand {
  font-family: pacificoregular; 
}
#session-info {
  vertical-align: middle;
  line-height: 50px;
}
.navbar-text {
  margin-top: 0;
  margin-bottom: 0;
}

