body { 
  background: #222222; 
  color: #DDD;
  padding-top: 50px; 
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: white;
  font-family: 'Open Sans', sans-serif;
}

.navbar-inverse .navbar-nav > li > a {
  color: #DDD;
  &:hover {color: white;}
}

.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #222222;
}

.navbar-brand {
  font-family: pacificoregular; 
  color: #DDD;
  font-size: 145%;
}
#session-info {
  vertical-align: middle;
  line-height: 50px;
}
.navbar-text {
  margin-top: 0;
  margin-bottom: 0;
}

#second-nav {
  display: inline-block;
  clear: none;
  text-align: right;
  @media only screen and (max-width: 768px) {
    padding-bottom: 1em;
  }
}
#main-nav {
  display: inline-block;
}

.hide {
  display: hidden;
}

.card {
  box-shadow: 0px 2px 3px #101010;
  border-radius: 0.5em;
  margin-bottom: 2em;
  @media only screen and (max-width: 991px) {
    border-radius: 0;
  }
  background: #ccc;
  .title {
    border-top-left-radius: 0.25em;
    border-top-right-radius: 0.25em;
    @media only screen and (max-width: 991px) {
      border-radius: 0;
    }
    border-bottom: 1px solid #bbb;
    font-size: 2em;
    padding: 1em;
    background: #ddd;
    color: #333;
    .name, .count {
      display: inline-block;
      width: 49%;
    }
    .count {
      text-align: right;
      span {
        padding: 0.3em 0.5em;
        background: #45ADA8;
        border-radius: 0.25em;
        color: #ddd;
      }
    }
  }
  .description {
    padding: 2em;
    color: #333;
  }
}

// Home page styles
#homepage {
  .jumbotron{
    h1 {
      color: #fff;
      text-shadow: 0px 2px 0px #222;
      font-family: 'pacificoregular';
    }
    color: #333;
    background: #abc;
    .btn {
      background-color: #45ADA8;
      border-color: darken(#45ADA8, 3%);
    }
  }
  #cards {
    padding: 2em;
  }
}
